:{$PORT:8080} {
    # Reverse proxy backend API and Admin
    reverse_proxy /api/* 127.0.0.1:8000
    reverse_proxy /admin* 127.0.0.1:8000
    reverse_proxy /docs* 127.0.0.1:8000
    reverse_proxy /openapi.json* 127.0.0.1:8000
    reverse_proxy /health* 127.0.0.1:8000

    # Reverse proxy everything else to Next.js
    reverse_proxy 127.0.0.1:3000
}
