fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
sqladmin
jinja2
requests
httpx
beautifulsoup4
psycopg2-binary
pillow
email-validator
itsdangerous
yt-dlp
openai-whisper
google-api-python-client
